body {
	background-color: #c3e7e4;
}

.container {
	width: 80%;
	margin: auto;
	background-color: #fff;
	padding: 1em;
	 box-shadow: 0px 3px 3px #0c3737;
}

header {
	text-align: center;
	/*padding-top: .25em;*/
	padding-bottom: .25em;
	padding-top: .25em;
	font-size: 2em;
	font-family: sans-serif;
	background-color: #c3e7e4;
	color: #596d6c;
}

footer {
	text-align: center;
	padding-top: 15px;
}

img {
	width: 300px;
	padding: 10px;
	border-radius: 50%;
	border: solid 5px #7d9895;
}

img:hover {
	opacity: .75;
}

h2 {
	padding-left: 10px;
	font-family: sans-serif;
}

.list {
	padding: 10px;
	display: inline-block;
}

.text {
	padding-left: 10px;
}

.backButton {
	position: absolute;
	left: 1%;
	text-decoration: none;
	font-size: .8em;
}

.testButton {
	position: absolute;
	right: 1%;
	color: #fff;
	background-color: #7d9895;
	padding: 10px;
	border-radius: 10px;
	text-decoration: none;
	font-family: sans-serif;
}

.testButton:hover {
	color: #7d9895;
	background-color: #fff;
}

i {
	float: right;
	color: #fff;
	background-color: #7d9895;
	padding: 10px;
	border-radius: 10px;
	text-decoration: none;
	font-family: sans-serif;
}

i:hover {
	color: #7d9895;
	background-color: #fff;
}

nav {
	background-color: red;
	display: block;
}

.nav1 {
	position: relative;
}

table {
	padding: 10px;
}

tr.turqoise {
	background-color: #99b9b7;
}

th {
	text-align: left;
}

td {
	width: 500px;
}

.recipe {
	background-color: #bae2dd;
	padding: 2px;
	margin-top: 15px;
}

.search-form {
	
	text-align: right;
}

.search {
	width: 25%;
	padding: 10px;
	font-size: 1em;
	border: 3px solid #7d9895;
	text-align: center;
}






